################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs

/.vs/trilha-net-api-desafio-main/FileContentIndex/667ac05e-bc48-43d1-9c65-13154bcbeeb7.vsidx
/.vs/trilha-net-api-desafio-main/FileContentIndex/667ac05e-bc48-43d1-9c65-13154bcbeeb7.vsidx
